/*
*  Normalization, bugfixes, workarounds, and defaults.
*
*  Part of the takitapart CSS framework [ http://takitapart.net/framework ].
*
*  See readme.md for details, licensing, and acknowledgments. 
*
*/
/*  mostly adopted from http://necolas.github.com/normalize.css/ */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
/* line 30, ../sass/takitapart/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
/* line 40, ../sass/takitapart/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */
/* line 50, ../sass/takitapart/_normalize.scss */
audio:not([controls]) {
  display: none;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
/* line 59, ../sass/takitapart/_normalize.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/* line 69, ../sass/takitapart/_normalize.scss */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
/* line 82, ../sass/takitapart/_normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
/* line 96, ../sass/takitapart/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */
/* line 104, ../sass/takitapart/_normalize.scss */
body {
  margin: 0;
}

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
/* line 119, ../sass/takitapart/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
/* line 129, ../sass/takitapart/_normalize.scss */
a:hover,
a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
/* line 141, ../sass/takitapart/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
/* line 150, ../sass/takitapart/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 154, ../sass/takitapart/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */
/* line 162, ../sass/takitapart/_normalize.scss */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */
/* line 170, ../sass/takitapart/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE6/7
 */
/* line 180, ../sass/takitapart/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
/* line 192, ../sass/takitapart/_normalize.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */
/* line 202, ../sass/takitapart/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
/* line 215, ../sass/takitapart/_normalize.scss */
q {
  quotes: none;
}

/* 2 */
/* line 222, ../sass/takitapart/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 227, ../sass/takitapart/_normalize.scss */
small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
/* line 237, ../sass/takitapart/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 244, ../sass/takitapart/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 248, ../sass/takitapart/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
/* line 264, ../sass/takitapart/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 268, ../sass/takitapart/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7
 */
/* line 278, ../sass/takitapart/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE7
 */
/* line 287, ../sass/takitapart/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
/* line 303, ../sass/takitapart/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9
 */
/* line 312, ../sass/takitapart/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
/* line 325, ../sass/takitapart/_normalize.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
/* line 338, ../sass/takitapart/_normalize.scss */
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */
/* line 346, ../sass/takitapart/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3 
 * 3. Corrects alignment displayed oddly in IE6/7
 */
/* line 358, ../sass/takitapart/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
/* line 374, ../sass/takitapart/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
/* line 386, ../sass/takitapart/_normalize.scss */
button,
input {
  line-height: normal;
  /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
/* line 400, ../sass/takitapart/_normalize.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 411, ../sass/takitapart/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
/* line 423, ../sass/takitapart/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
/* line 435, ../sass/takitapart/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
/* line 447, ../sass/takitapart/_normalize.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
/* line 457, ../sass/takitapart/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
/* line 467, ../sass/takitapart/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
/* line 481, ../sass/takitapart/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
*  Zoomable baseline grid, with mixins intended for responsive zooming.
*  Along with some sensible typographic defaults. 
*
*
*  Part of the takitapart CSS framework [ http://takitapart.net/framework ].
*
*  See readme.md for details, licensing, and acknowledgments. 
*
*/
/*
*  Base configuration stylesheet for the takitapart CSS framework.
*  This module will be included by the other modules.
*  These variables can be overridden in your site's stylesheets.
*
*  Part of the takitapart CSS framework [ http://takitapart.net/framework ].
*
*  See readme.md for details, licensing, and acknowledgments. 
*
*/
/* line 42, ../sass/takitapart/_typography.scss */
body {
  /* 16px / 24px */
  font-size: 1em;
  line-height: 1.5em;
}

/* line 52, ../sass/takitapart/_typography.scss */
.small {
  /* 13px / 18px */
  font-size: 0.813em;
  line-height: 1.385em;
  margin: 1.5em 0;
}

/* line 60, ../sass/takitapart/_typography.scss */
.medium, .normal, h3, p {
  /* 16px / 24px */
  font-size: 1em;
  line-height: 1.5em;
  /* 24 */
  margin: 1.5em 0;
}

/* line 68, ../sass/takitapart/_typography.scss */
.large, h2, h1 {
  /* 26 / 36px */
  font-size: 1.625em;
  line-height: 1.385em;
  margin: 0.923em 0;
}

/* line 76, ../sass/takitapart/_typography.scss */
.huge, h1 {
  /* 42px / 48px */
  font-size: 2.625em;
  line-height: 1.143em;
  margin: 0.571em 0;
}

/* line 84, ../sass/takitapart/_typography.scss */
.massive {
  /* 68px / 72px */
  font-size: 4.25em;
  line-height: 1.059em;
  margin: 1.5em 0;
}

/* line 92, ../sass/takitapart/_typography.scss */
.gigantic {
  /* 110px / 120px */
  font-size: 6.875em;
  line-height: 1.091em;
  margin: 1.5em 0;
}

/*
*  A semantic, fluid, responsive grid system.
*
*  Part of the takitapart CSS framework [ http://takitapart.net/framework ].
*
*  See readme.md for details, licensing, and acknowledgments. 
*
*/
/*
*  Base configuration stylesheet for the takitapart CSS framework.
*  This module will be included by the other modules.
*  These variables can be overridden in your site's stylesheets.
*
*  Part of the takitapart CSS framework [ http://takitapart.net/framework ].
*
*  See readme.md for details, licensing, and acknowledgments. 
*
*/
/*
*  A fluid, responsive-friendly form framework. 
*
*
*  Part of the takitapart CSS framework [ http://takitapart.net/framework ].
*
*  See readme.md for details, licensing, and acknowledgments. 
*
*
*  Notes on use
*  ------------
*  + Wrap field elements with label elements. 
*
*/
/*
*  Base configuration stylesheet for the takitapart CSS framework.
*  This module will be included by the other modules.
*  These variables can be overridden in your site's stylesheets.
*
*  Part of the takitapart CSS framework [ http://takitapart.net/framework ].
*
*  See readme.md for details, licensing, and acknowledgments. 
*
*/
/* line 25, ../sass/takitapart/_form.scss */
form {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 32, ../sass/takitapart/_form.scss */
form fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/* line 42, ../sass/takitapart/_form.scss */
form fieldset input, form fieldset textarea, form fieldset select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 0;
  width: 100%;
  margin: 0;
  padding: 0 0.25em;
}
/* line 53, ../sass/takitapart/_form.scss */
form fieldset label {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
*  Print specifc style defaults. From HTML5 Boilerplate.
*
*  Part of the takitapart CSS framework [ http://takitapart.net/framework ].
*
*  See readme.md for details, licensing, and acknowledgments. 
*
*/
/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 16, ../sass/takitapart/_print.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 17, ../sass/takitapart/_print.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 18, ../sass/takitapart/_print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 19, ../sass/takitapart/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 20, ../sass/takitapart/_print.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 21, ../sass/takitapart/_print.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 22, ../sass/takitapart/_print.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 23, ../sass/takitapart/_print.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 24, ../sass/takitapart/_print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 26, ../sass/takitapart/_print.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 27, ../sass/takitapart/_print.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 67, ../sass/screen.scss */
html {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 25px 20px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 25px 20px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.1) 0 0 25px 20px inset;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 25px 20px inset;
}

/* line 73, ../sass/screen.scss */
body {
  display: block;
  width: 88.889%;
  margin: 0 5.556%;
  *zoom: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  color: #eebb66;
  text-shadow: rgba(238, 187, 102, 0.25) 0 0 0.25em;
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0.05)), color-stop(50%, rgba(255, 255, 255, 0.05)), color-stop(100%, rgba(0, 0, 0, 0.05))), center bottom no-repeat url(../i/bg3.png), url(../i/bg2.png);
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.05)), center bottom no-repeat url(../i/bg3.png), url(../i/bg2.png);
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.05)), center bottom no-repeat url(../i/bg3.png), url(../i/bg2.png);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.05)), center bottom no-repeat url(../i/bg3.png), url(../i/bg2.png);
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.05)), center bottom no-repeat url(../i/bg3.png), url(../i/bg2.png);
  background: linear-gradient(left, rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.05)), center bottom no-repeat url(../i/bg3.png), url(../i/bg2.png);
  -moz-background-size: auto, 100% auto, auto;
  -webkit-background-size: auto, 100% auto, auto;
  -o-background-size: auto, 100% auto, auto;
  background-size: auto, 100% auto, auto;
  color: #eebb66;
  font-family: "livory";
}
/* line 24, ../sass/takitapart/_grid.scss */
body:before, body:after {
  content: "";
  display: table;
}
/* line 28, ../sass/takitapart/_grid.scss */
body:after {
  clear: both;
}
/* line 34, ../sass/screen.scss */
body a {
  color: #f58723;
}

/* line 93, ../sass/screen.scss */
h1 {
  font-family: "brandon-grotesque";
  font-weight: bold;
}

/* line 98, ../sass/screen.scss */
h2 {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  font-family: "livory";
  font-style: italic;
  font-weight: normal;
}

/* line 105, ../sass/screen.scss */
h3 {
  color: #f58723;
  text-shadow: rgba(245, 135, 35, 0.25) 0 0 0.25em;
  margin-bottom: 0.75em;
  font-family: "brandon-grotesque";
  font-weight: bold;
  text-transform: uppercase;
}
/* line 34, ../sass/screen.scss */
h3 a {
  color: #f58723;
}

/* line 117, ../sass/screen.scss */
a {
  font-weight: bold;
  text-decoration: none;
}
/* line 121, ../sass/screen.scss */
a:hover {
  text-decoration: underline;
}

/* line 126, ../sass/screen.scss */
::-moz-selection {
  background: #f58723;
  color: #fff;
  text-shadow: none;
}

/* line 127, ../sass/screen.scss */
::selection {
  background: #f58723;
  color: #fff;
  text-shadow: none;
}

/* line 129, ../sass/screen.scss */
footer {
  display: block;
  float: left;
  width: 100%;
  padding: 0 0.75em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 133, ../sass/screen.scss */
header {
  display: block;
  float: left;
  width: 100%;
  padding: 0 0.75em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 136, ../sass/screen.scss */
header#top {
  color: #dddd88;
  text-shadow: rgba(221, 221, 136, 0.25) 0 0 0.25em;
}
/* line 34, ../sass/screen.scss */
header#top a {
  color: #dddd88;
}
/* line 140, ../sass/screen.scss */
header.blue {
  background: #44aaaa;
  background-image: -webkit-gradient(radial, 40% 40%, 0, 40% 40%, 100, color-stop(0%, #53baba), color-stop(100%, #3b9393));
  background-image: -webkit-radial-gradient(40% 40%, #53baba, #3b9393);
  background-image: -moz-radial-gradient(40% 40%, #53baba, #3b9393);
  background-image: -o-radial-gradient(40% 40%, #53baba, #3b9393);
  background-image: -ms-radial-gradient(40% 40%, #53baba, #3b9393);
  background-image: radial-gradient(40% 40%, #53baba, #3b9393);
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 25px 20px inset, rgba(68, 170, 170, 0.05) 0 0 10px 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 25px 20px inset, rgba(68, 170, 170, 0.05) 0 0 10px 5px;
  -o-box-shadow: rgba(0, 0, 0, 0.1) 0 0 25px 20px inset, rgba(68, 170, 170, 0.05) 0 0 10px 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 25px 20px inset, rgba(68, 170, 170, 0.05) 0 0 10px 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  color: #224455;
  text-shadow: rgba(34, 68, 85, 0.25) 0 0 0.25em;
}
/* line 34, ../sass/screen.scss */
header.blue a {
  color: #224455;
}
/* line 145, ../sass/screen.scss */
header.green {
  background: #668866;
  background-image: -webkit-gradient(radial, 40% 40%, 0, 40% 40%, 100, color-stop(0%, #769876), color-stop(100%, #587658));
  background-image: -webkit-radial-gradient(40% 40%, #769876, #587658);
  background-image: -moz-radial-gradient(40% 40%, #769876, #587658);
  background-image: -o-radial-gradient(40% 40%, #769876, #587658);
  background-image: -ms-radial-gradient(40% 40%, #769876, #587658);
  background-image: radial-gradient(40% 40%, #769876, #587658);
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 25px 20px inset, rgba(102, 136, 102, 0.05) 0 0 10px 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 25px 20px inset, rgba(102, 136, 102, 0.05) 0 0 10px 5px;
  -o-box-shadow: rgba(0, 0, 0, 0.1) 0 0 25px 20px inset, rgba(102, 136, 102, 0.05) 0 0 10px 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 25px 20px inset, rgba(102, 136, 102, 0.05) 0 0 10px 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  color: #dddd88;
  text-shadow: rgba(221, 221, 136, 0.25) 0 0 0.25em;
}
/* line 34, ../sass/screen.scss */
header.green a {
  color: #dddd88;
}
/* line 150, ../sass/screen.scss */
header.white-red {
  background: #ced1cb;
  background-image: -webkit-gradient(radial, 40% 40%, 0, 40% 40%, 100, color-stop(0%, #dee0dc), color-stop(100%, #bec2ba));
  background-image: -webkit-radial-gradient(40% 40%, #dee0dc, #bec2ba);
  background-image: -moz-radial-gradient(40% 40%, #dee0dc, #bec2ba);
  background-image: -o-radial-gradient(40% 40%, #dee0dc, #bec2ba);
  background-image: -ms-radial-gradient(40% 40%, #dee0dc, #bec2ba);
  background-image: radial-gradient(40% 40%, #dee0dc, #bec2ba);
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 25px 20px inset, rgba(206, 209, 203, 0.05) 0 0 10px 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 25px 20px inset, rgba(206, 209, 203, 0.05) 0 0 10px 5px;
  -o-box-shadow: rgba(0, 0, 0, 0.1) 0 0 25px 20px inset, rgba(206, 209, 203, 0.05) 0 0 10px 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 25px 20px inset, rgba(206, 209, 203, 0.05) 0 0 10px 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  color: #d13038;
  text-shadow: rgba(209, 48, 56, 0.25) 0 0 0.25em;
}
/* line 34, ../sass/screen.scss */
header.white-red a {
  color: #d13038;
}

/* line 159, ../sass/screen.scss */
article.blue {
  color: #ced1cb;
  text-shadow: rgba(206, 209, 203, 0.25) 0 0 0.25em;
}
/* line 34, ../sass/screen.scss */
article.blue a {
  color: #44aaaa;
}
/* line 162, ../sass/screen.scss */
article.blue h3 {
  color: #44aaaa;
  text-shadow: rgba(68, 170, 170, 0.25) 0 0 0.25em;
}
/* line 34, ../sass/screen.scss */
article.blue h3 a {
  color: #44aaaa;
}
/* line 167, ../sass/screen.scss */
article section {
  display: block;
  float: left;
  width: 100%;
  padding: 0 0.75em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 170, ../sass/screen.scss */
article section p {
  margin-top: 0.75em;
}
/* line 118, ../sass/takitapart/_typography.scss */
article section p:first-line {
  font-weight: 800;
  font-variant: small-caps;
}
/* line 123, ../sass/takitapart/_typography.scss */
article section p + p {
  margin-top: 0;
}
/* line 126, ../sass/takitapart/_typography.scss */
article section p + p:first-line {
  font-weight: 400;
  font-variant: normal;
}
/* line 135, ../sass/takitapart/_typography.scss */
article section p:first-letter {
  font-size: 3.5em;
  line-height: 1.0em;
  font-weight: 400;
  float: left;
  margin: 0 0.107em 0 0;
}
/* line 144, ../sass/takitapart/_typography.scss */
article section p + p:first-letter {
  font-size: 1em;
  line-height: 1.25em;
  float: none;
  margin: 0;
}

/* line 181, ../sass/screen.scss */
article#example-form section {
  display: block;
  float: left;
  width: 100%;
  padding: 0 0.75em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 185, ../sass/screen.scss */
article#example-form form {
  display: block;
  float: left;
  width: 100%;
  padding: 0 0.75em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.05);
}
/* line 87, ../sass/takitapart/_form.scss */
article#example-form form fieldset label {
  display: block;
  padding-top: 1.5em;
  margin: 0 0 -1em 0;
}
/* line 92, ../sass/takitapart/_form.scss */
article#example-form form fieldset label:last-child {
  margin: 0;
}
/* line 97, ../sass/takitapart/_form.scss */
article#example-form form fieldset input, article#example-form form fieldset textarea, article#example-form form fieldset select {
  display: block;
  height: 1.5em;
  position: relative;
  top: -3em;
}
/* line 193, ../sass/screen.scss */
article#example-form form legend {
  color: #eebb66;
  text-shadow: rgba(238, 187, 102, 0.25) 0 0 0.25em;
  font-family: "brandon-grotesque";
  font-weight: bold;
}
/* line 34, ../sass/screen.scss */
article#example-form form legend a {
  color: #eebb66;
}
/* line 199, ../sass/screen.scss */
article#example-form form label {
  color: #ced1cb;
  text-shadow: rgba(206, 209, 203, 0.25) 0 0 0.25em;
  font-family: "livory";
  font-style: italic;
  width: 100%;
}
/* line 34, ../sass/screen.scss */
article#example-form form label a {
  color: #ced1cb;
}
/* line 207, ../sass/screen.scss */
article#example-form form input, article#example-form form textarea, article#example-form form select {
  color: #ced1cb;
  text-shadow: rgba(206, 209, 203, 0.25) 0 0 0.25em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background: rgba(68, 170, 170, 0.675);
  font-family: "livory";
  font-weight: bold;
}
/* line 34, ../sass/screen.scss */
article#example-form form input a, article#example-form form textarea a, article#example-form form select a {
  color: #ced1cb;
}

/* line 221, ../sass/screen.scss */
.product .feature {
  display: block;
  float: left;
  width: 100%;
  padding: 0 0.75em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  height: 10em;
}
/* line 225, ../sass/screen.scss */
.product .feature p {
  margin-top: 0.75em;
}

/* line 232, ../sass/screen.scss */
.aside {
  display: block;
  float: left;
  width: 100%;
  padding: 0 0.75em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* @media screen and (min-width: 480px) */
@media screen and (min-width: 30em) {
  /* line 242, ../sass/screen.scss */
  .product .feature {
    display: block;
    float: left;
    width: 50%;
    padding: 0 0.75em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 72, ../sass/takitapart/_form.scss */
  article#example-form form fieldset#form-name label,
  article#example-form form fieldset#form-address-city-state-zip label {
    *zoom: 1;
    float: left;
    padding-right: .5em;
  }
  /* line 24, ../sass/takitapart/_grid.scss */
  article#example-form form fieldset#form-name label:before, article#example-form form fieldset#form-name label:after,
  article#example-form form fieldset#form-address-city-state-zip label:before,
  article#example-form form fieldset#form-address-city-state-zip label:after {
    content: "";
    display: table;
  }
  /* line 28, ../sass/takitapart/_grid.scss */
  article#example-form form fieldset#form-name label:after,
  article#example-form form fieldset#form-address-city-state-zip label:after {
    clear: both;
  }
  /* line 78, ../sass/takitapart/_form.scss */
  article#example-form form fieldset#form-name label:last-child,
  article#example-form form fieldset#form-address-city-state-zip label:last-child {
    padding-right: 0;
  }
  /* line 18, ../sass/takitapart/_form.scss */
  article#example-form form label[for="first-name"] {
    width: 40%;
  }
  /* line 18, ../sass/takitapart/_form.scss */
  article#example-form form label[for="middle-initial"] {
    width: 10%;
  }
  /* line 18, ../sass/takitapart/_form.scss */
  article#example-form form label[for="last-name"] {
    width: 50%;
  }
  /* line 18, ../sass/takitapart/_form.scss */
  article#example-form form label[for="city"] {
    width: 60%;
  }
  /* line 18, ../sass/takitapart/_form.scss */
  article#example-form form label[for="state"] {
    width: 10%;
  }
  /* line 18, ../sass/takitapart/_form.scss */
  article#example-form form label[for="zip"] {
    width: 30%;
  }
}
/* @media screen and (min-width: 720px) */
@media screen and (min-width: 45em) {
  /* line 274, ../sass/screen.scss */
  header#top {
    display: block;
    float: left;
    width: 50%;
    padding: 0 0.75em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 50%;
  }
  /* line 279, ../sass/screen.scss */
  header.blue {
    margin-left: 25%;
    display: block;
    float: left;
    width: 50%;
    padding: 0 0.75em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 287, ../sass/screen.scss */
  article section {
    display: block;
    float: left;
    width: 50%;
    padding: 0 0.75em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 291, ../sass/screen.scss */
  article#example-form section {
    display: block;
    float: left;
    width: 50%;
    padding: 0 0.75em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 294, ../sass/screen.scss */
  article#example-form form {
    display: block;
    float: left;
    width: 50%;
    padding: 0 0.75em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 299, ../sass/screen.scss */
  .product {
    display: block;
    float: left;
    width: 75%;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 302, ../sass/screen.scss */
  .product .feature {
    display: block;
    float: left;
    width: 33.333%;
    padding: 0 0.75em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 308, ../sass/screen.scss */
  .aside {
    display: block;
    float: left;
    width: 25%;
    padding: 0 0.75em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
}
/* @media screen and (min-width: 888px) */
/* @media screen and (min-width: 984px) */
@media screen and (min-width: 61.5em) {
  /* line 14, ../sass/takitapart/_typography.scss */
  body {
    font-size: 1.125em;
  }
}
/* @media screen and (min-width: 1200px) */
@media screen and (min-width: 75em) {
  /* line 14, ../sass/takitapart/_typography.scss */
  body {
    font-size: 1.25em;
  }
}
/* @media screen and (min-width: 1392px) */
@media screen and (min-width: 87em) {
  /* line 14, ../sass/takitapart/_typography.scss */
  body {
    font-size: 1.375em;
  }
}
