/*
*  Base stylesheet for the takitapart CSS framework.
*  Configuration and included modules.
*
*  Part of the takitapart CSS framework [ http://takitapart.net/framework ].
*
*  See readme.md for details, licensing, and acknowledgments. 
*
*/

// Configuration.

// Base font-size in pixels.
// Default: 16px.
$font-size: 16;

// Base line-height.
// Default: 150% of font-size.
$line: $font-size * 1.5;
$em: $font-size * 1;

// Comment out unnecessary modules.
@import "takitapart-normalize";
@import "takitapart-typography";
@import "takitapart-grid";
@import "takitapart-form";
@import "takitapart-print";